$black: #000000;
$white: #ffffff;

$link: #000000;

$dark-grey: #414141;

$primary-color: #6d56ae;
$secondary-color: #ffb333;
$third-color: #792f37;
$fourth-color: #666;

//card colors
$lYellow: #ffdc4e;
$lPink: #ffbdbd;
$lGreen: #c7fa78;
$lBlue: #99d1fc;
